
.navbar{
    /* background: green; */
    /* margin-left: -10px;
    margin-top: -20px; */
    /* margin-right: -10px; */
    /* background-color: green; */
    /* width: 100vw;
    height: 100vh; */
   text-align: center;
   align-items: center;
   margin-top: 300px;
   box-shadow: 0 0px 40px rgb(0, 255, 0);
   border-radius: 20px;
   border: 1px solid black;
   box-sizing: content-box;
   background-color: rgb(185, 239, 239);
   margin-left: 20%;
   margin-right: 20%;

    /* height: 70px; */
}
.nav_btn{
    display: none;
}
.navbar_ul{
    /* display: flex; */
    list-style: none;
    /* justify-content: center;    */
}
.navbar_ul li{
   margin: 10px;
   align-items: center;
   margin-top: 23px;
   font-size: 24px;
}

/* .truenavbar{
    translate: -100%;
    background: green;
    margin-left: -10px;
    margin-top: -20px;
    transition: 1s;
    margin-right: -10px;

} */

.nav_link{
    text-decoration: none;
    color: black;
}

